<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
    <form method="post" class="auth-form">
        <div>{{ sysmsg }}</div>
        <div>

            <input type="text" name="username" placeholder="User..." class="input-group">
            <input type="text" name="password" placeholder="Pass..." class="input-group">
        </div>
        <button class="login-btn">ВОЙТИ</button>
    </form>
</body></html>